POSTGRES_DATA_VOLUME=postgres_data
PGADMIN_DATA_VOLUME=pgadmin_data

POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me

PGBOUNCER_AUTH_USER=pgbouncer_auth
PGBOUNCER_AUTH_PASSWORD=change-me

PGADMIN_HOST=pgadmin.example.com

PGADMIN_DEFAULT_EMAIL=user@example.com
PGADMIN_DEFAULT_PASSWORD=change-me

PGADMIN_BASIC_AUTH=user:$$2y$$05$$exampleexampleexampleexampleexampleexampleexampleexa

RESOLVER_NAME=myresolver

BACKUP_SCHEDULE=@daily

BACKUP_EXCLUDE_DATABASES=postgres

S3_BUCKET=example-engine-backups
S3_REGION=us-east-1
S3_ACCESS_KEY_ID=your-access-key-id
S3_SECRET_ACCESS_KEY=your-secret-access-key

BACKUP_PASSPHRASE=change-me
